.div {
    position: relative;
    border-radius: 20px;
    margin: 10px;
    background-color: aqua;
    width: 200px;
    height: auto;
    font: normal 16px/normal "Times New Roman", Times, serif;

}

.div:hover{
    transform: scale(1.1);
}


.Button {
box-sizing: content-box;
float: right;
border: 1px solid #e00404;
-webkit-border-radius: 3px;
border-radius: 3px;
font: normal 16px/normal "Times New Roman", Times, serif;
color: rgba(0,0,0,0.9);
background: #d80202;
border-radius: 50%;
margin-top: 5px;
margin-right: 5px;
}

.Button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.prop{
    display: flex;
    justify-content: center;
    font-size: small;
}

.image{
    width: 70%;
    border-radius: 20%;
}